# Віртуальне середовище
venv/
*.pyc
__pycache__/

# Бази даних
*.sqlite3

# Налаштування середовища
.venv

# Логи
*.log

# IDE/редактори
.vscode/
*.idea/

# Системні файли
.DS_Store
Thumbs.db

# Міграції (опціонально)
migrations/

# Static і Media файли (якщо вони генеруються під час роботи)
static/
media/
